# Credit defaulters identification using Logistic Regression

Introduction to the data set

German credit rating dataset contains categorical/symbolic attributes of the persons who availed the credit and the current status of the credit. The status of the credit is indicated by 1 for good credits and 2 for bad credits.

The dataset can be downloaded from UCI Repository.

https://archive.ics.uci.edu/ml/datasets/Statlog+%28German+Credit+Data%29

The detailed description of variables can be found at the same link.

### Read the data set

In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import pandas as pd
from sklearn.linear_model import LogisticRegression

# importing ploting libraries
import matplotlib.pyplot as plt   

#importing seaborn for statistical plots
import seaborn as sns

#Let us break the X and y dataframes into training set and test set. For this we will use
#Sklearn package's data splitting function which is based on random function

from sklearn.model_selection import train_test_split

import numpy as np


# calculate accuracy measures and confusion matrix
from sklearn import metrics

In [2]:
data = pd.read_csv( "germanCreditDefault.csv" )

In [3]:
data.head(2)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes

In [4]:
columns = ['checkin_acc', 'duration', 'credit_history', 'purpose', 'amount', 'svaing_acc', 'present_emp_since', 
           'inst_rate', 'personal_status', 'other_debtors', 'residing_since', 'property', 'age','inst_plans', 'housing', 
           'num_credits', 'job', 'dependents', 'telephone', 'foreign_worker', 'status']

In [5]:
#data.columns = columns

In [6]:
data.head(2)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes

In [7]:
data.head().T

,0,1,2,3,4
checking_balance,< 0 DM,1 - 200 DM,unknown,< 0 DM,< 0 DM
months_loan_duration,6,48,12,42,24
credit_history,critical,good,critical,good,poor
purpose,furniture/appliances,furniture/appliances,education,furniture/appliances,car
amount,1169,5951,2096,7882,4870
savings_balance,unknown,< 100 DM,< 100 DM,< 100 DM,< 100 DM
employment_duration,> 7 years,1 - 4 years,4 - 7 years,4 - 7 years,1 - 4 years
percent_of_income,4,2,2,2,3
years_at_residence,4,2,3,4,4
age,67,22,49,45,53
other_credit,none,none,none,none,none
housing,own,own,own,other,other
existing_loans_count,2,1,1,1,2
job,skilled,skilled,unskilled,skilled,skilled
dependents,1,1,2,2,2
phone,yes,no,no,no,no
default,no,yes,no,no,yes

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
checking_balance        1000 non-null object
months_loan_duration    1000 non-null int64
credit_history          1000 non-null object
purpose                 1000 non-null object
amount                  1000 non-null int64
savings_balance         1000 non-null object
employment_duration     1000 non-null object
percent_of_income       1000 non-null int64
years_at_residence      1000 non-null int64
age                     1000 non-null int64
other_credit            1000 non-null object
housing                 1000 non-null object
existing_loans_count    1000 non-null int64
job                     1000 non-null object
dependents              1000 non-null int64
phone                   1000 non-null object
default                 1000 non-null object
dtypes: int64(7), object(10)
memory usage: 132.9+ KB

#### How many default and no default observations in the sample

In [9]:
data.default.value_counts()

no     700
yes    300
Name: default, dtype: int64

There are about 300 defaults and 700 non-default observations

### Create dummy variables for the categorical features

In [10]:
data.columns

Index(['checking_balance', 'months_loan_duration', 'credit_history', 'purpose',
       'amount', 'savings_balance', 'employment_duration', 'percent_of_income',
       'years_at_residence', 'age', 'other_credit', 'housing',
       'existing_loans_count', 'job', 'dependents', 'phone', 'default'],
      dtype='object')

In [11]:
list(data.columns )

['checking_balance',
 'months_loan_duration',
 'credit_history',
 'purpose',
 'amount',
 'savings_balance',
 'employment_duration',
 'percent_of_income',
 'years_at_residence',
 'age',
 'other_credit',
 'housing',
 'existing_loans_count',
 'job',
 'dependents',
 'phone',
 'default']

#### Remove the response variable from the dataset

In [12]:
X_features = list(data.columns )
X_features

['checking_balance',
 'months_loan_duration',
 'credit_history',
 'purpose',
 'amount',
 'savings_balance',
 'employment_duration',
 'percent_of_income',
 'years_at_residence',
 'age',
 'other_credit',
 'housing',
 'existing_loans_count',
 'job',
 'dependents',
 'phone',
 'default']

In [13]:
data_complete = pd.get_dummies(data[X_features], drop_first = True )

In [14]:
len(data_complete.columns )

36

In [15]:
data_complete.head().T

                                    0     1     2     3     4
months_loan_duration                6    48    12    42    24
amount                           1169  5951  2096  7882  4870
percent_of_income                   4     2     2     2     3
years_at_residence                  4     2     3     4     4
age                                67    22    49    45    53
existing_loans_count                2     1     1     1     2
dependents                          1     1     2     2     2
checking_balance_< 0 DM             1     0     0     1     1
checking_balance_> 200 DM           0     0     0     0     0
checking_balance_unknown            0     0     1     0     0
credit_history_good                 0     1     0     1     0
credit_history_perfect              0     0     0     0     0
credit_history_poor                 0     0     0     0     1
credit_history_very good            0     0     0     0     0
purpose_car                         0     0     0     0     1
purpose_car0                        0     0     0     0     0
purpose_education                   0     0     1     0     0
purpose_furniture/appliances        1     1     0     1     0
purpose_renovations                 0     0     0     0     0
savings_balance_500 - 1000 DM       0     0     0     0     0
savings_balance_< 100 DM            0     1     1     1     1
savings_balance_> 1000 DM           0     0     0     0     0
savings_balance_unknown             1     0     0     0     0
employment_duration_4 - 7 years     0     0     1     1     0
employment_duration_< 1 year        0     0     0     0     0
employment_duration_> 7 years       1     0     0     0     0
employment_duration_unemployed      0     0     0     0     0
other_credit_none                   1     1     1     1     1
other_credit_store                  0     0     0     0     0
housing_own                         1     1     1     0     0
housing_rent                        0     0     0     0     0
job_skilled                         1     1     0     1     1
job_unemployed                      0     0     0     0     0
job_unskilled                       0     0     1     0     0
phone_yes                           1     0     0     0     0
default_yes                         0     1     0     0     1

In [16]:
data_complete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 36 columns):
months_loan_duration               1000 non-null int64
amount                             1000 non-null int64
percent_of_income                  1000 non-null int64
years_at_residence                 1000 non-null int64
age                                1000 non-null int64
existing_loans_count               1000 non-null int64
dependents                         1000 non-null int64
checking_balance_< 0 DM            1000 non-null uint8
checking_balance_> 200 DM          1000 non-null uint8
checking_balance_unknown           1000 non-null uint8
credit_history_good                1000 non-null uint8
credit_history_perfect             1000 non-null uint8
credit_history_poor                1000 non-null uint8
credit_history_very good           1000 non-null uint8
purpose_car                        1000 non-null uint8
purpose_car0                       1000 non-null uint8
purpose_education                  1000 non-null uint8
purpose_furniture/appliances       1000 non-null uint8
purpose_renovations                1000 non-null uint8
savings_balance_500 - 1000 DM      1000 non-null uint8
savings_balance_< 100 DM           1000 non-null uint8
savings_balance_> 1000 DM          1000 non-null uint8
savings_balance_unknown            1000 non-null uint8
employment_duration_4 - 7 years    1000 non-null uint8
employment_duration_< 1 year       1000 non-null uint8
employment_duration_> 7 years      1000 non-null uint8
employment_duration_unemployed     1000 non-null uint8
other_credit_none                  1000 non-null uint8
other_credit_store                 1000 non-null uint8
housing_own                        1000 non-null uint8
housing_rent                       1000 non-null uint8
job_skilled                        1000 non-null uint8
job_unemployed                     1000 non-null uint8
job_unskilled                      1000 non-null uint8
phone_yes                          1000 non-null uint8
default_yes                        1000 non-null uint8
dtypes: int64(7), uint8(29)
memory usage: 83.1 KB

### Specify x ( independent) and y (target/dependent) features

In [17]:
x = data_complete.drop("default_yes", axis=1)
y = data_complete[["default_yes"]]

### Split datasets into train and test datasets

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size = 0.3)

### Build a logistic regression model

In [22]:
import statsmodels.api as sm

In [23]:
logit = sm.Logit( y_train, sm.add_constant( x_train ) )

In [24]:
lg = logit.fit()

Warning: Maximum number of iterations has been exceeded.
         Current function value: inf
         Iterations: 35

C:\Users\arjun\Anaconda3\lib\site-packages\statsmodels\base\model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [25]:
lg.summary()

C:\Users\arjun\Anaconda3\lib\site-packages\statsmodels\base\model.py:488: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)
C:\Users\arjun\Anaconda3\lib\site-packages\statsmodels\base\model.py:488: HessianInversionWarning: Inverting hessian failed, no bse or cov_params available
  'available', HessianInversionWarning)

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:            default_yes   No. Observations:                  700
Model:                          Logit   Df Residuals:                      664
Method:                           MLE   Df Model:                           35
Date:                Fri, 16 Nov 2018   Pseudo R-squ.:                     inf
Time:                        23:21:13   Log-Likelihood:                   -inf
converged:                      False   LL-Null:                        0.0000
                                        LLR p-value:                     1.000
===================================================================================================
                                      coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
const                              -1.6949      1.163     -1.458      0.145      -3.974       0.584
months_loan_duration                0.0349      0.011      3.131      0.002       0.013       0.057
amount                           8.651e-05    5.3e-05      1.632      0.103   -1.74e-05       0.000
percent_of_income                   0.4570      0.106      4.317      0.000       0.249       0.664
years_at_residence                 -0.0243      0.104     -0.234      0.815      -0.228       0.179
age                                -0.0202      0.011     -1.758      0.079      -0.043       0.002
existing_loans_count                0.0059      0.228      0.026      0.979      -0.440       0.452
dependents                          0.4338      0.284      1.530      0.126      -0.122       0.990
checking_balance_< 0 DM             0.5306      0.251      2.111      0.035       0.038       1.023
checking_balance_> 200 DM          -0.3724      0.422     -0.883      0.377      -1.199       0.455
checking_balance_unknown           -1.2653      0.273     -4.633      0.000      -1.801      -0.730
credit_history_good                 0.3074      0.302      1.018      0.309      -0.285       0.900
credit_history_perfect              0.7808      0.525      1.489      0.137      -0.247       1.809
credit_history_poor                 0.3379      0.403      0.839      0.401      -0.451       1.127
credit_history_very good            0.7885      0.489      1.612      0.107      -0.170       1.747
purpose_car                         0.0206      0.373      0.055      0.956      -0.711       0.752
purpose_car0                       -0.6840      1.046     -0.654      0.513      -2.734       1.366
purpose_education                   0.2978      0.520      0.573      0.567      -0.720       1.316
purpose_furniture/appliances        0.0406      0.367      0.111      0.912      -0.679       0.761
purpose_renovations                 0.0694      0.709      0.098      0.922      -1.320       1.459
savings_balance_500 - 1000 DM      -0.3118      0.566     -0.551      0.581      -1.420       0.797
savings_balance_< 100 DM            0.2659      0.320      0.830      0.406      -0.362       0.894
savings_balance_> 1000 DM         -16.0961    869.503     -0.019      0.985   -1720.291    1688.098
savings_balance_unknown            -0.8103      0.415     -1.955      0.051      -1.623       0.002
employment_duration_4 - 7 years    -0.9450      0.338     -2.800      0.005      -1.607      -0.283
employment_duration_< 1 year        0.3600      0.272      1.322      0.186      -0.174       0.894
employment_duration_> 7 years      -0.3783      0.303     -1.247      0.212      -0.973       0.216
employment_duration_unemployed      0.2530      0.466      0.543      0.587      -0.661       1.167
other_credit_none                  -0.8016      0.288     -2.785      0.005      -1.366      -0.237
other_credit_store                 -0.4577      0.508     -0.900      0.368      -1.454       0.539
housing_own                        -0.5082      0.368     -1.382      0.167      -1.229       0.213
housing_rent                        0.2242      0.416      0.539      0.590      -0.591       1.040
job_skilled                        -0.2237      0.342     -0.654      0.513      -0.894       0.447
job_unemployed                     -0.3962      0.763     -0.519      0.603      -1.891       1.098
job_unskilled                      -0.3252      0.416     -0.782      0.434      -1.140       0.490
phone_yes                          -0.3146      0.245     -1.282      0.200      -0.796       0.166
===================================================================================================
"""

### Find significant variables

In [26]:
def get_significant_vars( lm ):
    var_p_vals_df = pd.DataFrame( lm.pvalues )
    var_p_vals_df['vars'] = var_p_vals_df.index
    var_p_vals_df.columns = ['pvals', 'vars']
    return list( var_p_vals_df[var_p_vals_df.pvals <= 0.05]['vars'] )

In [27]:
significant_vars = get_significant_vars( lg )

In [28]:
significant_vars

['months_loan_duration',
 'percent_of_income',
 'checking_balance_< 0 DM',
 'checking_balance_unknown',
 'employment_duration_4 - 7 years',
 'other_credit_none']

### Predict Test Data and Measure Accuracy

In [29]:
from sklearn import metrics

In [30]:
def get_predictions( y_test, model ):
    y_pred_df = pd.DataFrame( { 'actual': y_test,
                               "predicted_prob": model.predict( sm.add_constant( x_test ) ) } )
    return y_pred_df

In [31]:
y_pred_df = get_predictions( y_test.default_yes, lg )

In [32]:
y_pred_df.head(2)

     actual  predicted_prob
237       1        0.524270
552       1        0.294605

#### Status_1 columns provides the predicted probability for the default classes

In [33]:
y_pred_df[0:10]

     actual  predicted_prob
237       1    5.242697e-01
552       1    2.946053e-01
752       0    1.243079e-01
695       0    3.981464e-02
229       0    9.237071e-01
148       0    6.296307e-01
928       0    3.097879e-02
721       1    8.919400e-07
86        0    4.703625e-01
840       1    5.762131e-01

In [34]:
x = y_pred_df.predicted_prob

In [35]:
x = x[0:5]

In [36]:
x

237    0.524270
552    0.294605
752    0.124308
695    0.039815
229    0.923707
Name: predicted_prob, dtype: float64

In [37]:
x.map(lambda x: 1 if x > 0.1 else 0)

237    1
552    1
752    1
695    0
229    1
Name: predicted_prob, dtype: int64

In [140]:
y_pred_df['predicted'] = y_pred_df.predicted_prob.map( lambda x: 1 if x > 0.15 else 0)

In [141]:
y_pred_df[0:10]

     actual  predicted_prob  predicted
237       1    5.242697e-01          1
552       1    2.946053e-01          1
752       0    1.243079e-01          0
695       0    3.981464e-02          0
229       0    9.237071e-01          1
148       0    6.296307e-01          1
928       0    3.097879e-02          0
721       1    8.919400e-07          0
86        0    4.703625e-01          1
840       1    5.762131e-01          1

### Create confusion matrix

In [142]:
cMatrix = metrics.confusion_matrix( y_pred_df.actual, y_pred_df.predicted )
cMatrix

array([[111,  97],
       [ 21,  71]], dtype=int64)

Note: the model could only predict very few default classes.

#### Overall accuracy of the model

In [143]:
print( 'Total Accuracy : ',np.round( metrics.accuracy_score( y_test, y_pred_df.predicted ), 2 ) )

Total Accuracy :  0.61

In [146]:
FN = ((cMatrix[1][0])/(cMatrix.sum()))*100
print('False Negative Percentage: %.2f' %(FN))

FP = ((cMatrix[0][1])/(cMatrix.sum()))*100
print('False Positive Percentage: %.2f' %(FP))

False Negative Percentage: 7.00
False Positive Percentage: 32.33